img.logo{
  float:left;
}
p.logoText{
  float:left;
}
span.socialMediaIcons{
  float:right;
}
h1{
float:none;
}
p.post{

}
img.pizzaImage{
  width:auto;
}
p.foodCookingDetails{
  padding-bottom: 15px;
}
form.paperBackground{
  background-image: url("img/list-bg.png");
  font-size: 20px;
}
.checklist{

}
img.van{
  float: left;
}
p.repo{
  float:left;
}
br{
  display:block;
  margin: 10px 0;
}
